{% extends "base.html" %}

{% block battery %}

{% verbatim %}
<div ng-controller="battery" class="container">

<!--  	 <div class="btn-group">
	  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    Choose Device
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"
	  		ng-repeat="device in gv.batteryData">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{device.name}}</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TA iPhone 5</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TA iPhone 5s</a></li>
	   </ul>
	</div> -->

	<p class="text-center">TA iPhone 5</p>
    <div id="batteryChart_5" style="height:400px"></div>

	<p class="text-center">TA iPhone 5s</p>
    <div id="batteryChart_5s" style="height:400px"></div>


</div>
{% endverbatim%}

{% endblock %}